<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>La note enchantée</title>

    <meta name="description"  content="La note enchantée">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="../public/style/style.css">

</head>
<body>
    <header>
        <figure>
            <a href="../index.html"><img src="../public/img/ohmyfood.png" alt="logo ohmyfood"></a>
        </figure>
    </header>

    <main class="menu-lanote">

        <h1>La note enchantée</h1>

        <article class="page page-lanote">

            <i class="fas fa-music"></i>
            <h3>La note enchantée</h3>

            <table class="titre-lanote">
                <tr>
                    <th>
                        <img src="../public/img/lanote1.png" alt="Trait">
                    </th>
                    <th class="souligne">
                        <p>Prélude</p>
                    </th>
                    <th>
                        <img src="../public/img/lanote2.png" alt="Trait">
                    </th>
                </tr>
            </table>


<!--        Table Prélude      -->

            <table class="table table-lanote">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <p>Ravioles de foie gras accompagnés de leur crème à la truffe</p>
                    </td>
                    <td>
                        <p>98€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Caviar osciètre sur blini à la farine de blé noir</p>
                    </td>
                    <td>
                        <p>115€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Homard et espuma de potiron mariné aux zests d'orange</p>
                    </td>
                    <td>
                        <p>89€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Foie gras de canard cuit entier, confiture de figue et pain toasté</p>
                    </td>
                    <td>
                        <p>105€</p>
                    </td>
                </tr>
            </table>

            <table class="titre-lanote">

                <tr>
                    <th>
                        <img src="../public/img/lanote1.png" alt="Trait">
                    </th>
                    <th class="souligne">
                        <p>Point d'orgue</p>
                    </th>
                    <th>
                        <img src="../public/img/lanote2.png" alt="Trait">
                    </th>
                </tr>
            </table>

            <!--        Table Point d'orgue      -->

            <table class="table table-lanote">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <p>Noix de coquilles Saint-Jaccques sur lit de purée de céleri-rave</p>
                    </td>
                    <td>
                        <p>102€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Langoustine poêlée, purée de patate douce</p>
                    </td>
                    <td>
                        <p>205€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Mijoté de queue de boeuf et riz sauvage aux zests de citron</p>
                    </td>
                    <td>
                        <p>169€</p>
                    </td>
                </tr>

            </table>
            <table class="titre-lanote">

                <tr>
                    <th>
                        <img src="../public/img/lanote1.png" alt="Trait">
                    </th>
                    <th class="souligne">
                        <p>Mouvement final</p>
                    </th>
                    <th>
                        <img src="../public/img/lanote2.png" alt="Trait">
                    </th>
                </tr>
            </table>

            <!--        Table Mouvement final      -->

            <table class="table table-lanote">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <p>Macaron noisette et chocolat, glace au caramel brun et sel de guérande</p>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Baba au rhum revisité avec son coulis de citron</p>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Tarte au citron meringuée destucurée</p>
                    </td>
                    <td>
                    </td>
                </tr>

            </table>

            <span><i class="fas fa-music"></i></span>
			<p class="lanoteenchantee">La note enchantée</p>

        </article>
    </main>

    <footer>
        <a href="mentionslegales.html">mentions légales</a>
        <a href="mailto:contact@ohmyfood.com">contactez-nous</a>
    </footer>

</body>
</html>