<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Le chic à la française</title>

    <meta name="description"  content="CV Antoine Gallienne">
    <meta name="author"       content="Gallienne Antoine">
    <meta name="copyright"    content="MIT">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="../public/style/style.css">


</head>
<body>
    <header>
        <figure>
            <a href="../index.html"><img src="../public/img/ohmyfood.png" alt="logo ohmyfood"></a>
        </figure>
    </header>

    <main class="menu-lechic">

        <h1>Le chic à la française</h1>

        <article class="page-lechic">

            <h3>Le chic à la française</h3>


            <table class="titre-appetit">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <img src="../public/img/lechic1.png" alt="Trait">
                    </td>
                    <td class="souligne">
                        <p>Pour se mettre en appétit</p>
                    </td>
                    <td>
                        <img src="../public/img/lechic2.png" alt="Trait">
                    </td>
                </tr>
            </table>

            <!--        Table appetit     -->
            <table class="appetit">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <p>Tartare de poulpe acidulé aux zests d'orange</p>
                    </td>
                    <td>
                        <p>79€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Velouté de légumes d'antan</p>
                    </td>
                    <td>
                        <p>57€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Soupe à l'oignon revisitée</p>
                    </td>
                    <td>
                        <p>57€</p>
                    </td>
                </tr>

            </table>

            <table class="titre-plaisir">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <img src="../public/img/lechic3.png" alt="Trait">
                    </td>
                    <td class="souligne">
                        <p>Plaisir des papilles</p>
                    </td>
                    <td>
                        <img src="../public/img/lechic4.png" alt="Trait">
                    </td>
                </tr>
            </table>

            <!--        Table Plaisir des papilles      -->
            <table class="plaisir">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <p>Coquilles Saint-Jacques accompagées d'une purée de panais</p>
                    </td>
                    <td>
                        <p>95€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Magret de canard et parmentier de pommes de terres</p>
                    </td>
                    <td>
                        <p>88€</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Pigeonneau d'Ille et Vilaine sur son lit de gnocchis aux légumes</p>
                    </td>
                    <td>
                        <p>175€</p>
                    </td>
                </tr>

            </table>

            <table class="titre-gourmandise">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <img src="../public/img/lechic5.png" alt="Trait">
                    </td>
                    <td class="souligne">
                        <p>Gourmandises sucrées</p>
                    </td>
                    <td>
                        <img src="../public/img/lechic6.png" alt="Trait">
                    </td>
                </tr>
            </table>

            <!--        Table gourmandises sucrees      -->
            <table class="gourmandise">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <p>Pétales de violettes glacés et purée de noisettes</p>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Fondant au chocolat revisité</p>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Millefeuille croustillant</p>
                    </td>
                    <td>
                    </td>
                </tr>

            </table>
        </article>
    </main>

    <footer>
        <a href="mentionslegales.html">mentions légales</a>
        <a href="mailto:contact@ohmyfood.com">contactez-nous</a>
    </footer>


</body>
</html>
