
nav {

  width: 90%;
  background: $fond--page;
  margin: auto;

  ul {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 0;

    li {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      width: 40vw;
      height: 10vh;
      font-size: 1.2rem;
      margin: 3vh auto;
      padding: 22vh 5vw;
      list-style-type: none;
      border-radius: 0.5rem;
      border: solid $contour;
    }
  }
}

/*  ----- barre de recherche ---------*/
//--------------------------------------

aside {
  background: $recherche;
  margin: auto;
  padding: 2vh 0;

  input {
    width: 90%;
  }
}

// ---Titre et background des cartes  ---
//----------------------------------------

/* ---Titre et background la note  ---*/

.li-lanote {

  .lanote {
    position: relative;
    bottom: 2.5vh;
    padding: 15vh 5vw;
  }
  section i {
    font-size: 2.3rem;
    background: -webkit-linear-gradient(0deg, $deg1--lanote, $deg2--lanote);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    font-family: 'Devonshire-Regular';
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2vh;
  }
  a {
    font-family: 'Itim-Regular';
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  background-color: $lanote;
}

/* ---Titre et background la chic  ---*/

.li-lechic {
  .lechic {
    position: relative;
    bottom: 2.5vh;
    padding: 10vh 5vw;
  }
  section h2 {
    font-family: 'CroissantOne-Regular';
    font-size: 1.1rem;
    background: -webkit-linear-gradient(0deg , $deg1--lechic, $deg2--lechic);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4vh;
  }
  a {
    font-family: 'quintessential-regular-webfont.woff2';
    text-decoration: none;
    color: $deg1--lechic;
    font-size: 2rem;
  }
  background-color: $lechic;
}

/* ---Titre et background le delice  ---*/

.li-ledelice {
  .ledelice {
    position: relative;
    bottom: 2.5vh;
    padding: 10vh 5vw;
  }
  section h2 {
    font-family: 'DancingScript-VariableFont_wght';
    font-size: 1.5rem;
    background: -webkit-linear-gradient(0deg , $deg1--ledelice, $deg2--ledelice);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4vh;
  }
  a {
    font-family: 'Caveat-Regular';
    text-decoration: none;
    color: $deg2--ledelice;
    font-size: 2.5rem;
  }
  background-color: $ledelice;
}

/* ---Titre et background la palette  ---*/

.li-lapalette {
  .lapalette {
    position: relative;
    bottom: 2.5vh;
    padding: 10vh 5vw;
  }
  section h2 {
    font-family: 'KaushanScript-Regular';
    font-size: 1.5rem;
    background: -webkit-linear-gradient(0deg , $deg1--lapalette, $deg2--lapalette);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4vh;
  }
  a {
    font-family: 'Caveat-Regular';
    text-decoration: none;
    color: $deg1--lapalette;
    font-size: 2.5rem;
  }
  background-color: $lapalette;
}

.pro {
  width: 28%;
  font-size: 1rem;
}

/* -----            media query             ----
---------------------------------------------- */

body {

  @include media-min(500px) {

    h1 {
      padding: 3vh 0;
      font-size: 1.6rem;
    }
    nav {
      width: 100%;
      margin: auto;
      ul {
        li {
          width: 30vw;
          height: 20vh;
          margin: 3vh auto;
        }
      }
    }
    .pro {
      width: 35%;
      font-size: 1.3rem;
    }
  }

  @include media-min(768px) {

    h1 {
      font-size: 1.9rem;
    }
    nav ul {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      li {
        width: 20vw;
        height: 22vh;
        margin: 3vh auto;
      }
    }
    .pro {
      width: 30%;
      font-size: 1.4rem;
    }
  }

  @include media-min(1024px) {

    h1 {
      font-size: 2.4rem;
    }

    nav ul {
      justify-content: center;
      li {
        width: 20vw;
        height: 30vh;
        font-size: 5rem;
        h2 {
          font-size: 1.8rem;
        }
      }
    }
    .pro {
      width: 25%;
      font-size: 1.6rem;
    }
  }
}