footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0.1rem;
  background: $col--site;
  height: 8%;
  & a {
    font-family: 'Montserrat-Regular';
    font-size: 1.1rem;
  }
}

/* -----            media query             ----
---------------------------------------------- */

body {

  @include media-min(500px) {

    footer a {
      font-size: 1.3rem;
    }
  }

    @include media-min(768px) {

      footer a {
        font-size: 1.4rem;
      }
    }

    @include media-min(1024px) {

      footer a {
        font-size: 1.6rem;
      }
    }
  }