
header {
  color: $ohmyfood;
  text-align: center;
  background: $vert;
  font-size: 1.5rem;
<<<<<<< Updated upstream
  width: 100%;
=======
  width: 100%;/*
  padding:0;
  margin: 0 auto;*/
>>>>>>> Stashed changes
}
