

.menu {
  background: $blanc;
  width: 100%;
  margin: auto;
  ul {
    display: flex;
    flex-direction:column;
    li{
      width: 80%;
      border-radius: 0.5rem;
      border: solid $contour;
      list-style-type: none;
    }

  }
}
