@charset "UTF-8";
/* --------- variable couleur  ----------
---------------------------------------*/
/* -----       media query          ----
--------------------------------------- */
/* -------------       h1         ---------------
-----------------------------------------------------*/
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../public/font/Montserrat-Bold.ttf") format("truetype"), url("../../public/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* -------------Menu la note enchantée ---------------
-----------------------------------------------------*/
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../../public/font/Devonshire-Regular.ttf") format("truetype"), url("../../public/font/Devonshire-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Itim-Regular";
  src: url("../../public/font/Itim-Regular.ttf") format("truetype"), url("../../public/font/Itim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu  Le chic à la française----------
-----------------------------------------------------*/
@font-face {
  font-family: "CroissantOne-Regular";
  src: url("../../public/font/CroissantOne-Regular.ttf") format("truetype"), url("../../public/font/CroissantOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "notomono-regular-webfont";
  src: url("../../public/font/notomono-regular-webfont.woff2") format("woff2"), url("../../public/font/notomono-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu le délice des papilles ----------
-----------------------------------------------------*/
@font-face {
  font-family: "DancingScript-VariableFont_wght";
  src: url("../../public/font/DancingScript-VariableFont_wght.ttf") format("truetype"), url("../../public/font/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("../../public/font/Caveat-Regular.ttf") format("truetype"), url("../../public/font/Caveat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu la palette du goût ----------
-----------------------------------------------------*/
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../../public/font/KaushanScript-Regular.ttf") format("truetype"), url("../../public/font/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DMSerifText-Regular";
  src: url("../../public/font/NanumPenScript-Regular.ttf") format("truetype"), url("../../public/font/NanumPenScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------      footer         ---------------
-----------------------------------------------------*/
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/font/Montserrat-regular.ttf") format("truetype"), url("../../public/font/Montserrat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}

/* ----    Table du menu La note         -----
-----------------------------------------------*/
.titre-lanote {
  table-layout: fixed;
  margin: 0 7vw;
}
.titre-lanote img {
  width: 22vw;
}
.titre-lanote p {
  font-size: 0.8rem;
}
.titre-lanote th:nth-child(1) {
  width: 15%;
}
.titre-lanote th:nth-child(2) {
  width: 50%;
}
.titre-lanote th:nth-child(3) {
  width: 15%;
}

.table-lanote {
  table-layout: fixed;
  width: 80%;
  vertical-align: middle;
  text-align: left;
  margin: 0 8vw;
  font-size: 0.6rem;
}
.table-lanote p {
  margin: 0.8vh 0;
}
.table-lanote th:first-child {
  width: 100%;
}
.table-lanote th:last-child {
  width: 15%;
}

/* -Table du menu Le chic        ---
-----------------------------------------------*/
.titre-appetit,
.appetit {
  color: #c7750c;
}

.titre-plaisir,
.plaisir {
  color: #a6679a;
}

.titre-gourmandise,
.gourmandise {
  color: #6d4acc;
}

.titre-appetit,
.titre-plaisir,
.titre-gourmandise {
  table-layout: fixed;
  margin: 0 5vw;
}
.titre-appetit img,
.titre-plaisir img,
.titre-gourmandise img {
  width: 22vw;
}
.titre-appetit p,
.titre-plaisir p,
.titre-gourmandise p {
  font-size: 0.7rem;
  margin: 2vh 0;
}
.titre-appetit th:nth-child(1),
.titre-plaisir th:nth-child(1),
.titre-gourmandise th:nth-child(1) {
  width: 15%;
}
.titre-appetit th:nth-child(2),
.titre-plaisir th:nth-child(2),
.titre-gourmandise th:nth-child(2) {
  width: 50%;
}
.titre-appetit th:nth-child(3),
.titre-plaisir th:nth-child(3),
.titre-gourmandise th:nth-child(3) {
  width: 15%;
}

.appetit,
.plaisir,
.gourmandise {
  table-layout: fixed;
  width: 80%;
  vertical-align: middle;
  text-align: left;
  margin: 0 11vw;
  font-size: 0.55rem;
}
.appetit p,
.plaisir p,
.gourmandise p {
  margin: 0.8vh 0;
}
.appetit th:first-child,
.plaisir th:first-child,
.gourmandise th:first-child {
  width: 100%;
}
.appetit th:last-child,
.plaisir th:last-child,
.gourmandise th:last-child {
  width: 15%;
}

/* ---     Table du menu Le délice         ---
-----------------------------------------------*/
.titre-ledelice {
  table-layout: fixed;
  margin: 0 3vw;
}
.titre-ledelice img {
  width: 28vw;
}
.titre-ledelice p {
  font-size: 1.2rem;
}
.titre-ledelice th:nth-child(1) {
  width: 15%;
}
.titre-ledelice th:nth-child(2) {
  width: 50%;
}
.titre-ledelice th:nth-child(3) {
  width: 15%;
}

.table-ledelice {
  table-layout: fixed;
  width: 80%;
  vertical-align: middle;
  text-align: left;
  margin: 0 9vw;
  font-size: 0.9rem;
}
.table-ledelice th:first-child {
  width: 100%;
}
.table-ledelice th:last-child {
  width: 15%;
}

/* -Table du menu  la palette         ---
-----------------------------------------------*/
.titre-lapalette {
  table-layout: fixed;
  margin: 0 7vw;
}
.titre-lapalette img {
  width: 25vw;
}
.titre-lapalette p {
  font-size: 0.8rem;
  margin: 2vh 0;
}
.titre-lapalette th:nth-child(1) {
  width: 15%;
}
.titre-lapalette th:nth-child(2) {
  width: 50%;
  font-weight: normal;
}
.titre-lapalette th:nth-child(3) {
  width: 15%;
}

.table-lapalette {
  table-layout: fixed;
  width: 80%;
  vertical-align: middle;
  text-align: left;
  margin: 0 11vw;
  font-size: 0.7rem;
}
.table-lapalette p {
  margin: 0.5vh 0;
}
.table-lapalette th:first-child {
  width: 100%;
}
.table-lapalette th:last-child {
  width: 15%;
}

/*  --------- animation menu page d'index ---------
---------------------------------------------*/
.li-lanote:hover a {
  text-decoration: none;
}
.li-lanote:hover .lanote {
  transform: scale(1.3);
  opacity: 0.5;
  transition-duration: 600ms;
}

.li-lechic:hover a {
  text-decoration: none;
}
.li-lechic:hover .lechic {
  transform: scale(1.3);
  opacity: 0.5;
  transition-duration: 600ms;
}

.li-ledelice:hover a {
  text-decoration: none;
}
.li-ledelice:hover .ledelice {
  transform: scale(1.4);
  opacity: 0.5;
  transition-duration: 600ms;
}

.li-lapalette:hover a {
  text-decoration: none;
}
.li-lapalette:hover .lapalette {
  transform: scale(1.2);
  opacity: 0.5;
  transition-duration: 600ms;
}

/* ----    animation trait soulignement menu ---
-----------------------------------------------*/
.souligne p {
  cursor: pointer;
  background: linear-gradient(to top, #589d87 0%, #589d87 10%, transparent 10%) no-repeat left bottom/0 100%;
  transition: background-size 1s;
}

.souligne p:hover {
  background-size: 100% 100%;
}

/* --- boutons prochainement    ---
---------------------------------*/
@keyframes buttonprochainement {
  0% {
    opacity: 1;
    content: "";
  }
  60% {
    opacity: 1;
    content: " .";
  }
  80% {
    opacity: 1;
    content: " ..";
  }
  90% {
    opacity: 1;
    content: " ..";
  }
  100% {
    opacity: 1;
    content: " ...";
  }
}
/* -- boutons mention et contact  --
----------------------------------*/
@keyframes buttonfooter {
  0% {
    transform: translate(2px, 2px);
  }
  20% {
    transform: translate(-2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(-2px, -2px);
  }
}
/* ----      bouton prochainement        ------
----------------------------------------------*/
.pro {
  font-family: "Montserrat-Regular";
  text-transform: capitalize;
  width: 35%;
  background: #589d87;
  color: #fdcb42;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid #589d87;
  padding: 0.5rem 1rem;
  margin: 5vh auto;
}
.pro::after {
  position: absolute;
  content: " ";
  opacity: 0;
}
.pro:hover::after {
  animation: buttonprochainement 1.5s infinite;
}

/* ---- bouton  mention et contact ------
----------------------------------------*/
footer a {
  font-family: "Montserrat-SemiBold";
  background: #589d87;
  color: #fdcb42;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}
footer a::first-letter {
  text-transform: capitalize;
}
footer a:hover {
  animation: buttonfooter 400ms infinite;
}

header {
  color: #fdcb42;
  text-align: center;
  background: #589d87;
}
header img {
  width: 50%;
  padding: 3vh;
}

h1 {
  font-family: "Montserrat-Bold";
  font-size: 1.3rem;
  padding: 2vh 0;
  font-weight: bold;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: solid #DCC;
  border-bottom: solid #DCC;
}

/*   --------------------------------- */
nav {
  width: 90%;
  background: #fff;
  margin: auto;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 10vh;
  font-size: 1.2rem;
  margin: 3vh auto;
  padding: 22vh 5vw;
  list-style-type: none;
  border-radius: 0.5rem;
  border: solid #DCC;
}

/*  ----- barre de recherche ---------
---------------------------------------*/
aside {
  background: #EDEDED;
  margin: auto;
  padding: 2vh 0;
}
aside input {
  width: 90%;
}

/* ---Titre et background des cartes  ---
----------------------------------------*/
.li-lanote {
  background-color: #FDE0DC;
}
.li-lanote .lanote {
  position: relative;
  bottom: 2.5vh;
}
.li-lanote section i {
  font-size: 2.3rem;
  background: -webkit-linear-gradient(0deg, #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.li-lanote h2 {
  font-family: "Devonshire-Regular";
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 2vh;
}
.li-lanote a {
  font-family: "Itim-Regular";
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.li-lechic {
  background-color: #FFF5FE;
}
.li-lechic section h2 {
  font-family: "CroissantOne-Regular";
  font-size: 1.1rem;
  background: -webkit-linear-gradient(0deg, #c7750c, #6e4bce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4vh;
}
.li-lechic a {
  font-family: "quintessential-regular-webfont.woff2";
  text-decoration: none;
  color: #c7750c;
  font-size: 2rem;
}

.li-ledelice {
  background-color: #F9F9F9;
}
.li-ledelice section h2 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(0deg, #0025df, #1e9dfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4vh;
}
.li-ledelice a {
  font-family: "Caveat-Regular";
  text-decoration: none;
  color: #1e9dfb;
  font-size: 2.5rem;
}

.li-lapalette {
  background-color: #FDFFFD;
}
.li-lapalette section h2 {
  font-family: "KaushanScript-Regular";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(0deg, #3f9338, #c0ff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4vh;
}
.li-lapalette a {
  font-family: "Caveat-Regular";
  text-decoration: none;
  color: #3f9338;
  font-size: 2.5rem;
}

.pro {
  width: 28%;
  font-size: 1rem;
}

/* -----            media query             ----
---------------------------------------------- */
@media screen and (min-width: 500px) {
  body h1 {
    padding: 3vh 0;
    font-size: 1.6rem;
  }
  body nav {
    width: 100%;
    margin: auto;
  }
  body nav ul li {
    width: 30vw;
    height: 20vh;
    margin: 3vh auto;
  }
  body .pro {
    width: 32%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  body h1 {
    font-size: 1.9rem;
  }
  body nav ul {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  body nav ul li {
    width: 20vw;
    height: 22vh;
    margin: 3vh auto;
  }
  body .pro {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  body h1 {
    font-size: 2.4rem;
  }
  body nav ul {
    justify-content: center;
  }
  body nav ul li {
    width: 20vw;
    height: 30vh;
    font-size: 5rem;
  }
  body nav ul li h2 {
    font-size: 1.8rem;
  }
  body .pro {
    font-size: 2rem;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0.1rem;
  background: #589d87;
  height: 8%;
  padding: 4vh 0;
}
footer a {
  font-family: "Montserrat-Regular";
  font-size: 1.1rem;
}

/* -----            media query             ----
---------------------------------------------- */
@media screen and (min-width: 500px) {
  body footer a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  body footer a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  body footer a {
    font-size: 1.6rem;
  }
}

.menu-lanote h3 {
  font-family: "Devonshire-Regular";
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 3vh;
}

.page-lanote {
  font-family: "Itim-Regular";
  background: #FDE0DC;
  font-style: italic;
  padding-bottom: 10vh;
}

article i {
  font-size: 3rem;
  padding: 5vh 2vw 3vh 0;
  background: -webkit-linear-gradient(0deg, #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span i {
  font-size: 1.2rem;
  padding: 2vh 2vw 5vh 0;
  background: -webkit-linear-gradient(0deg, #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span p {
  display: inline;
  font-family: "Devonshire-Regular";
  font-size: 1rem;
  font-weight: bold;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  text-align: center;
  background: #fff;
}
@media screen and (min-width: 500px) {
  body article i {
    font-size: 3rem;
  }
  body span i {
    font-size: 1.2rem;
  }
  body .menu-lanote h3 {
    font-size: 2rem;
    padding-top: 2vh;
    padding-bottom: 4vh;
  }
  body .titre-lanote {
    table-layout: fixed;
  }
  body .titre-lanote img {
    width: 25vw;
  }
  body .titre-lanote p {
    font-size: 1.1rem;
  }
  body .table-lanote {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 8vw;
    font-size: 0.75rem;
  }
  body .table-lanote p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: auto;
  }
  body .menu-lanote h3 {
    font-size: 2rem;
    padding-top: 3vh;
    padding-bottom: 5vh;
  }
  body .page-lanote {
    width: 70%;
    margin: auto;
    margin-bottom: 9vh;
    padding: 4vh 5vw 10vh 4vw;
    border: solid #DCC;
  }
  body .titre-lanote {
    table-layout: fixed;
  }
  body .titre-lanote img {
    width: 17vw;
  }
  body .titre-lanote p {
    font-size: 1.1rem;
  }
  body .table-lanote {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 6vw;
    font-size: 0.7rem;
  }
  body .table-lanote p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 1024px) {
  body .menu-lanote h3 {
    font-size: 3rem;
    padding-top: 3vh;
    padding-bottom: 8vh;
  }
  body .page-lanote {
    width: 70%;
    margin: auto;
    margin-bottom: 10vh;
    padding-bottom: 20vh;
  }
  body .titre-lanote {
    table-layout: fixed;
  }
  body .titre-lanote img {
    width: 18vw;
  }
  body .titre-lanote p {
    font-size: 1.2rem;
  }
  body .table-lanote {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 7vw;
    font-size: 0.9rem;
  }
  body .table-lanote p {
    padding: 2vh 0;
  }
}

.menu-lapalette h3 {
  font-family: "KaushanScript-Regular";
  background: -webkit-linear-gradient(0deg, #3f9338, #c0ff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

.page-lapalette {
  font-family: "KaushanScript-Regular";
  background: #FDFFFD;
  padding-bottom: 7vh;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  text-align: center;
  background: #fff;
}
@media screen and (min-width: 500px) {
  body .menu-lapalette h3 {
    font-size: 2rem;
    padding-top: 6vh;
    padding-bottom: 4vh;
  }
  body .titre-lapalette {
    table-layout: fixed;
    margin: 1.4vh 0 1.4vh 4vw;
  }
  body .titre-lapalette img {
    width: 27vw;
  }
  body .titre-lapalette p {
    font-size: 1rem;
  }
  body .table-lapalette {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 11vw;
    font-size: 0.7rem;
  }
  body .table-lapalette p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: auto;
  }
  body .menu-lapalette h3 {
    font-size: 2.3rem;
    padding-top: 7vh;
    padding-bottom: 5vh;
  }
  body .page-lapalette {
    width: 70%;
    margin: auto;
    margin-bottom: 9vh;
    padding: 4vh 4vw;
    border: solid #DCC;
  }
  body .titre-lapalette {
    table-layout: fixed;
    margin: 0 3vw;
  }
  body .titre-lapalette img {
    width: 20vw;
  }
  body .titre-lapalette p {
    font-size: 1.1rem;
  }
  body .table-lapalette {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 7vw;
    font-size: 0.8rem;
  }
  body .table-lapalette p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  body .menu-lapalette h3 {
    font-size: 3.5rem;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }
  body .page-lapalette {
    width: 70%;
    margin: auto;
    margin-bottom: 10vh;
    padding-bottom: 15vh;
  }
  body .titre-lapalette {
    table-layout: fixed;
    margin: 1.6vh 0 1.6vh 3vw;
  }
  body .titre-lapalette img {
    width: 20vw;
  }
  body .titre-lapalette p {
    font-size: 1.5rem;
  }
  body .table-lapalette {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 9vw;
    font-size: 1rem;
  }
  body .table-lapalette p {
    padding: 1.8vh 0;
  }
}

.menu-lechic h3 {
  font-family: "CroissantOne-Regular";
  font-size: 1.3rem;
  background: -webkit-linear-gradient(290deg, #e48a0a, #8e5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

.page-lechic {
  font-family: "CroissantOne-Regular";
  background: #FFF5FE;
  margin: auto;
  padding-bottom: 6vh;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  text-align: center;
  background: #fff;
}
@media screen and (min-width: 500px) {
  body .menu-lechic h3 {
    font-size: 1.4rem;
    padding-top: 6vh;
    padding-bottom: 4vh;
  }
  body .titre-appetit,
body .titre-plaisir,
body .titre-gourmandise {
    table-layout: fixed;
    margin: 0 7vw;
  }
  body .titre-appetit img,
body .titre-plaisir img,
body .titre-gourmandise img {
    width: 22vw;
  }
  body .titre-appetit p,
body .titre-plaisir p,
body .titre-gourmandise p {
    font-size: 0.7rem;
  }
  body .appetit,
body .plaisir,
body .gourmandise {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 11vw;
    font-size: 0.55rem;
  }
  body .appetit p,
body .plaisir p,
body .gourmandise p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 auto;
  }
  body .menu-lechic h3 {
    font-size: 1.7rem;
  }
  body .menu-lechic h3 .menu-lechic h3 {
    font-size: 1.9rem;
    padding-top: 7vh;
    padding-bottom: 5vh;
  }
  body .page-lechic {
    width: 70%;
    margin: auto;
    margin-bottom: 9vh;
    padding: 4vh 4vw;
    border: solid #DCC;
  }
  body .titre-appetit,
body .titre-plaisir,
body .titre-gourmandise {
    table-layout: fixed;
    margin: 0 2vw;
  }
  body .titre-appetit img,
body .titre-plaisir img,
body .titre-gourmandise img {
    width: 15vw;
  }
  body .titre-appetit p,
body .titre-plaisir p,
body .titre-gourmandise p {
    font-size: 0.6rem;
  }
  body .appetit,
body .plaisir,
body .gourmandise {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 8vw;
    font-size: 0.55rem;
  }
  body .appetit p,
body .plaisir p,
body .gourmandise p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 1024px) {
  body .menu-lechic h3 {
    font-size: 2.2rem;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }
  body .page-lechic {
    width: 70%;
    margin: auto;
    margin-bottom: 10vh;
    padding-bottom: 20vh;
  }
  body .titre-appetit,
body .titre-plaisir,
body .titre-gourmandise {
    table-layout: fixed;
    margin: 0 4vw;
  }
  body .titre-appetit img,
body .titre-plaisir img,
body .titre-gourmandise img {
    width: 16vw;
  }
  body .titre-appetit p,
body .titre-plaisir p,
body .titre-gourmandise p {
    font-size: 1.2rem;
  }
  body .appetit,
body .plaisir,
body .gourmandise {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 9vw;
    font-size: 0.85rem;
  }
  body .appetit p,
body .plaisir p,
body .gourmandise p {
    padding: 1.2vh 0;
  }
}

.menu-ledelice h3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 1.9rem;
  background: -webkit-linear-gradient(0deg, #0025df, #1e9dfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

.page-ledelice {
  font-family: "Caveat-Regular";
  background: #F9F9F9;
  margin: auto;
  padding-bottom: 7vh;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  text-align: center;
  background: #fff;
}
@media screen and (min-width: 500px) {
  body .menu-ledelice h3 {
    font-size: 2.3rem;
    padding-top: 6vh;
    padding-bottom: 4vh;
  }
  body .titre-ledelice {
    table-layout: fixed;
    margin: 0.5vh 0 0.5vh 1vw;
  }
  body .titre-ledelice img {
    width: 31vw;
  }
  body .titre-ledelice p {
    font-size: 1.3rem;
    padding: 1vh 0;
  }
  body .table-ledelice {
    table-layout: fixed;
    margin: 0.5vh 0 0.5vh 11vw;
    font-size: 0.9rem;
  }
  body .table-ledelice p {
    padding: 1vh 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: auto;
  }
  body .menu-ledelice h3 {
    font-size: 2.5rem;
    padding-top: 7vh;
    padding-bottom: 5vh;
  }
  body .page-ledelice {
    width: 70%;
    margin: auto;
    margin-bottom: 9vh;
    padding: 5vh 4vw;
    border: solid #DCC;
  }
  body .titre-ledelice {
    table-layout: fixed;
    margin: 1.5vh 0 1.5vh 1vw;
  }
  body .titre-ledelice img {
    width: 16vw;
  }
  body .titre-ledelice p {
    font-size: 1.2rem;
  }
  body .table-ledelice {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 5vw;
    font-size: 0.9rem;
  }
  body .table-ledelice p {
    padding: 1.5vh 0;
  }
}
@media screen and (min-width: 1024px) {
  body .menu-ledelice h3 {
    font-size: 3rem;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }
  body .page-ledelice {
    width: 70%;
    margin: auto;
    margin-bottom: 10vh;
    padding-bottom: 20vh;
  }
  body .titre-ledelice {
    table-layout: fixed;
    margin: 0 0vw;
  }
  body .titre-ledelice img {
    width: 23vw;
  }
  body .titre-ledelice p {
    font-size: 1.9rem;
  }
  body .table-ledelice {
    table-layout: fixed;
    width: 85%;
    vertical-align: middle;
    text-align: left;
    margin: 0 5vw;
    font-size: 1.4rem;
  }
}

body {
  width: 100%;
  background: #fff;
}
body h1 {
  padding-top: 5vh;
}
body .mention {
  text-align: left;
  font-family: "Montserrat-Regular";
  font-size: 0.7rem;
  padding: 3vh 8vw 6vh 8vw;
}

/* --------------- media query -----------------
------------------------------------------------ */
@media screen and (min-width: 768px) {
  body .mention {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  body .mention {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
