@charset "UTF-8";
/* --------- variable couleur  ----------
---------------------------------------*/
/* -----       media query          ----
--------------------------------------- */
/* ----    Table du menu La note         -----
-----------------------------------------------*/
.menu-lanote {
  margin: auto;
  text-align: center;
}
.menu-lanote table {
  padding-left: 0;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}
.menu-lanote table th:nth-child(1) {
  width: 90%;
}
.menu-lanote table th:nth-child(2) {
  width: 5%;
}

/* -Table du menu Le chic        ---
-----------------------------------------------*/
.menu-lechic {
  margin: auto;
  text-align: center;
}
.menu-lechic table {
  padding-left: 5vw;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}
.menu-lechic table th:nth-child(1) {
  width: 100%;
}
.menu-lechic table th:nth-child(2) {
  width: 15%;
}

/* -Table du menu Le délice         ---
-----------------------------------------------*/
.menu-ledelice {
  margin: auto;
  text-align: center;
}
.menu-ledelice table {
  padding-left: 5vw;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}
.menu-ledelice table th:nth-child(1) {
  width: 100%;
}
.menu-ledelice table th:nth-child(2) {
  width: 15%;
}

/* -Table du menu  la palette         ---
-----------------------------------------------*/
.menu-lapalette {
  margin: auto;
  text-align: center;
}
.menu-lapalette table {
  padding-left: 5vw;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}
.menu-lapalette table th:nth-child(1) {
  width: 100%;
}
.menu-lapalette table th:nth-child(2) {
  width: 15%;
}

/* -------------       h1         ---------------
-----------------------------------------------------*/
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/font/Montserrat-Regular.ttf") format("truetype"), url("../../public/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu la note enchantée ---------------
-----------------------------------------------------*/
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../../public/font/Devonshire-Regular.ttf") format("truetype"), url("../../public/font/Devonshire-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Itim-Regular";
  src: url("../../public/font/Itim-Regular.ttf") format("truetype"), url("../../public/font/Itim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu  Le chic à la française----------
-----------------------------------------------------*/
@font-face {
  font-family: "CroissantOne-Regular";
  src: url("../../public/font/CroissantOne-Regular.ttf") format("truetype"), url("../../public/font/CroissantOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DMSerifText-Regular";
  src: url("../../public/font/DMSerifText-Regular.ttf") format("truetype"), url("../../public/font/DMSerifText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu le délice des papilles ----------
-----------------------------------------------------*/
@font-face {
  font-family: "DancingScript-VariableFont_wght";
  src: url("../../public/font/DancingScript-VariableFont_wght.ttf") format("truetype"), url("../../public/font/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("../../public/font/Caveat-Regular.ttf") format("truetype"), url("../../public/font/Caveat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -------------Menu la palette du goût ----------
-----------------------------------------------------*/
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../../public/font/KaushanScript-Regular.ttf") format("truetype"), url("../../public/font/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DMSerifText-Regular";
  src: url("../../public/font/NanumPenScript-Regular.ttf") format("truetype"), url("../../public/font/NanumPenScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ----    animation trait soulignement menu ---
-----------------------------------------------*/
h4 {
  margin: auto;
  text-decoration: none;
  width: 30%;
  cursor: pointer;
  background: linear-gradient(to top, #64A082 0%, #64A082 15%, transparent 10%) no-repeat left bottom/0 100%;
  transition: background-size 2s;
}

h4:hover {
  background-size: 100% 100%;
}

/* -- boutons mention et contact  --
---------------------------------*/
@keyframes buttonfooter {
  0% {
    transform: translate(2px, 2px);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, 2px);
  }
  30% {
    transform: translate(-2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  70% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  90% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
/*  --------- animation page d'index ---------
---------------------------------------------*/
.lanote {
  color: #000;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 600ms;
}
.lanote a {
  text-decoration: none;
  color: #000;
}
.lanote:hover {
  transform: scale(1.4);
  opacity: 0.5;
}

.lechic {
  color: #000;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 600ms;
}
.lechic a {
  text-decoration: none;
  color: #000;
}
.lechic:hover {
  transform: scale(1.4);
  opacity: 0.5;
}

.ledelice {
  color: #000;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 600ms;
}
.ledelice a {
  text-decoration: none;
  color: #000;
}
.ledelice:hover {
  transform: scale(1.4);
  opacity: 0.5;
}

.lapalette {
  color: #000;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 600ms;
}
.lapalette a {
  text-decoration: none;
  color: #000;
}
.lapalette:hover {
  transform: scale(1.4);
  opacity: 0.5;
}

/* --- boutons prochainement    ---
---------------------------------*/
@keyframes buttonprochainement {
  0% {
    opacity: 0;
    content: "  ! ! !";
  }
  20% {
    opacity: 0.2;
    content: "  ! ! !";
  }
  40% {
    opacity: 0.4;
    content: "  ! ! !";
  }
  60% {
    opacity: 0.6;
    content: "  ! ! !";
  }
  80% {
    opacity: 0.8;
    content: "  ! ! !";
  }
  100% {
    opacity: 1;
    content: "  ! ! !";
  }
  80% {
    opacity: 0.8;
    content: "  ! ! !";
  }
  60% {
    opacity: 0.6;
    content: "  ! ! !";
  }
  40% {
    opacity: 0.4;
    content: "  ! ! !";
  }
  20% {
    opacity: 0.2;
    content: "  ! ! !";
  }
  10% {
    opacity: 0;
    content: "  ! ! !";
  }
}
/* ----      bouton prochainement        ------
----------------------------------------------*/
button[class=pro] {
  text-transform: capitalize;
  width: 35%;
  background: #64A082;
  color: #EED071;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid #64A082;
  padding: 0.5rem 1rem;
  margin: 5vh auto;
}
button[class=pro]::after {
  -webkit-transition: opacity 1.5s linear;
  -moz-transition: opacity 1.5s linear;
  -o-transition: opacity 1.5s linear;
  transition: opacity 1.5s linear;
  content: "";
  opacity: 0;
}
button[class=pro]:hover::after {
  animation: buttonprochainement 1s;
}

/* ---- bouton  mention et contact ------
----------------------------------------*/
button[class=footer] {
  width: 23%;
  background: #64A082;
  color: #EED071;
  font-family: "Montserrat-SemiBold";
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid #64A082;
  padding: 0.5rem 1rem;
  margin: auto;
}
button[class=footer]::first-letter {
  text-transform: capitalize;
}
button[class=footer]:hover {
  animation: buttonfooter 0.8s infinite;
}
button[class=footer] a {
  text-decoration: none;
  color: #EED071;
}

header {
  color: #EED071;
  text-align: center;
  background: #64A082;
  /*width: 100%;*/
}
header img {
  width: 15rem;
  padding: 4vh;
}

footer {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0.1rem;
  background: #64A082;
  height: 12vh;
}

.menu-ohmyfood {
  background: #fff;
  width: 100%;
  margin: auto;
}
.menu-ohmyfood ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-ohmyfood ul li {
  font-size: 1.2rem;
  margin: 3vh auto;
  width: 30vw;
  height: 20vh;
  padding: 22vh 5vw;
  list-style-type: none;
  text-align: center;
  border-radius: 0.5rem;
  border: solid #DCC;
}

/*  ----- barre de recherche ---------
---------------------------------------*/
aside {
  background: #EDEDED;
  margin: auto;
  padding: 2vh 0 2vh 5vw;
}
aside input {
  width: 90%;
}

/* ---Titre et background des cartes  ---
----------------------------------------*/
.menu-ohmyfood li[class*=li-lanote] {
  background-color: #FDE0DC;
}
.menu-ohmyfood li[class*=li-lanote] section i {
  font-size: 3rem;
  background: -webkit-linear-gradient(0deg, #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-ohmyfood li[class*=li-lanote] h2 {
  font-family: "Devonshire-Regular";
  font-size: 1.5rem;
  font-weight: normal;
}

.menu-ohmyfood li[class*=li-lechic] {
  background-color: #FFF5FE;
}
.menu-ohmyfood li[class*=li-lechic] section h2 {
  font-family: "CroissantOne-Regular";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(0deg, #c7750c, #6e4bce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-ohmyfood li[class*=li-ledelice] {
  background-color: #F9F9F9;
}
.menu-ohmyfood li[class*=li-ledelice] section h2 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(0deg, #0025df, #1e9dfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-ohmyfood li[class*=li-lapalette] {
  background-color: #FDFFFD;
}
.menu-ohmyfood li[class*=li-lapalette] section h2 {
  font-family: "KaushanScript-Regular";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(0deg, #3f9338, #c0ff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: "Montserrat-Regular";
  font-size: 1.5rem;
}

/* -----            media query             ----
---------------------------------------------- */
body {
  margin: 0 auto;
}
body main {
  text-align: center;
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 auto;
  }
  body .menu-ohmyfood ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .menu-ohmyfood ul li {
    width: 23vw;
    height: 21vh;
    padding: 22vh 5vw;
    margin: 2vh 2vw;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  body .menu-ohmyfood ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .menu-ohmyfood ul li {
    width: 16vw;
    height: 25vh;
    padding: 22vh 5vw;
    margin: 2vh 3vw;
  }
}

body {
  font-family: "Itim-Regular";
  background: #fff;
  width: 100%;
  text-align: center;
}
body .menu-lanote h3 {
  font-family: "Devonshire-Regular";
  font-size: 2.5rem;
  font-weight: normal;
}
body .page-lanote {
  display: flex;
  flex-direction: column;
  background: #FDE0DC;
  width: 80%;
  font-size: 1.2rem;
  padding: 1vh 8vw;
  margin: auto;
}
body .page-lanote h4 {
  font-size: 0.9rem;
  font-weight: normal;
}
body .page-lanote img[src*="lanote1.png"] {
  position: relative;
  top: 2vh;
  width: 25vw;
}
body .page-lanote img[src*="lanote2.png"] {
  position: relative;
  bottom: 2vh;
  left: 52vw;
  width: 25vw;
}

article i {
  font-size: 4rem;
  padding-top: 5vh;
  background: -webkit-linear-gradient(0deg, #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span i {
  font-size: 1.5rem;
  padding: 2vh 2vw 5vh 0;
  background: -webkit-linear-gradient(0deg, #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  margin: 0 auto;
}
body .menu-lanote h3 {
  font-size: 2.5rem;
  padding: 0 2vw 5vh 0;
}
body .page-lanote h4 {
  font-size: 1.4rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: auto;
  }
  body .menu-lanote .page {
    width: 70%;
  }
  body .menu-lanote .page img[src*="lanote1.png"] {
    top: 6vh;
    width: 18vw;
  }
  body .menu-lanote .page img[src*="lanote2.png"] {
    bottom: 6vh;
    left: 50vw;
    width: 18vw;
  }
}
@media screen and (min-width: 1024px) {
  body {
    width: 65%;
  }
  body .menu-lanote h3 {
    font-size: 4rem;
  }
  body .menu-lanote .page-lanote {
    font-size: 1.1rem;
    width: 60%;
    margin: auto;
  }
  body .menu-lanote .page-lanote img[src*="lanote1.png"] {
    top: 3vh;
    width: 16vw;
  }
  body .menu-lanote .page-lanote img[src*="lanote2.png"] {
    bottom: 3vh;
    left: 31vw;
    width: 16vw;
  }
}

body {
  background: #fff;
  width: 90%;
  text-align: center;
}
body .page-lapalette {
  display: flex;
  flex-direction: column;
  background: #FDFFFD;
  width: 80%;
  padding: 1vh 8vw;
  margin: auto;
}
body .page-lapalette h4 {
  font-size: 0.9rem;
  font-weight: normal;
}
body .page-lapalette img[src*="lapalette1.png"] {
  position: relative;
  top: 2vh;
  width: 27vw;
}
body .page-lapalette img[src*="lapalette2.png"] {
  position: relative;
  bottom: 2vh;
  left: 51vw;
  width: 27vw;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: auto;
  }
  body .page-lapalette {
    width: 70%;
    margin: auto;
  }
  body .page-lapalette img[src*="lapalette1.png"] {
    top: 2vh;
    width: 22vw;
  }
  body .page-lapalette img[src*="lapalette2.png"] {
    bottom: 2vh;
    left: 46vw;
    width: 22vw;
  }
}
@media screen and (min-width: 1024px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  body .page-lapalette {
    width: 80%;
    margin: auto;
  }
  body .page-lapalette h4 {
    font-size: 1.5rem;
  }
  body .page-lapalette img[src*="lapalette1.png"] {
    top: 3vh;
    width: 20vw;
  }
  body .page-lapalette img[src*="lapalette2.png"] {
    bottom: 3vh;
    left: 43vw;
    width: 20vw;
  }
}

body {
  font-family: "DMSerifText-Regular";
  background: #fff;
  width: 90%;
  text-align: center;
  margin: auto;
}
body .menu-lechic h3 {
  font-family: "CroissantOne-Regular";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(290deg, #e48a0a, #8e5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .page-lechic {
  display: flex;
  flex-direction: column;
  background: #FFF5FE;
  width: 80%;
  padding: 1vh 8vw;
  margin: auto;
}
body .page-lechic h4 {
  font-size: 0.9rem;
  font-weight: normal;
}
body .page-lechic table[class*=prelude] {
  color: #c7750c;
}
body .page-lechic table[class*=plaisir] {
  color: #a6679a;
}
body .page-lechic table[class*=gourmandise] {
  color: #6d4acc;
}
body .page-lechic img[src*="lechic1.png"] {
  position: relative;
  top: 2vh;
  width: 25vw;
}
body .page-lechic img[src*="lechic2.png"] {
  position: relative;
  bottom: 2vh;
  left: 52vw;
  width: 25vw;
}
body .page-lechic img[src*="lechic3.png"] {
  position: relative;
  top: 2vh;
  width: 22vw;
}
body .page-lechic img[src*="lechic4.png"] {
  position: relative;
  bottom: 2vh;
  left: 58vw;
  width: 22vw;
}
body .page-lechic img[src*="lechic5.png"] {
  position: relative;
  top: 2vh;
  width: 22vw;
}
body .page-lechic img[src*="lechic6.png"] {
  position: relative;
  bottom: 2vh;
  left: 58vw;
  width: 22vw;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: auto;
  }
  body .menu-lechic h3 {
    font-size: 2.3rem;
  }
  body .menu-lechic .page-lechic {
    width: 70%;
    font-size: 1rem;
    margin: auto;
  }
  body .menu-lechic .page-lechic img[src*="lechic1.png"] {
    top: 3vh;
    width: 22vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic2.png"] {
    bottom: 3vh;
    left: 47vw;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic3.png"] {
    top: 3vh;
    width: 22vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic4.png"] {
    bottom: 3vh;
    left: 47vw;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic5.png"] {
    top: 3vh;
    width: 22vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic6.png"] {
    bottom: 3vh;
    left: 47vw;
    width: 18vw;
  }
}
@media screen and (min-width: 1024px) {
  body {
    width: 65%;
    margin: 0 auto;
  }
  body .menu-lechic h3 {
    font-size: 3rem;
  }
  body .menu-lechic .page-lechic {
    width: 70%;
    font-size: 1.2rem;
    margin: auto;
  }
  body .menu-lechic .page-lechic h4 {
    font-size: 1.3rem;
  }
  body .menu-lechic .page-lechic img[src*="lechic1.png"] {
    top: 3vh;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic2.png"] {
    bottom: 3vh;
    left: 37vw;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic3.png"] {
    top: 3vh;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic4.png"] {
    bottom: 3vh;
    left: 37vw;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic5.png"] {
    top: 3vh;
    width: 18vw;
  }
  body .menu-lechic .page-lechic img[src*="lechic6.png"] {
    bottom: 3vh;
    left: 37vw;
    width: 18vw;
  }
}

body {
  font-family: "Caveat-Regular";
  background: #fff;
  width: 90%;
  text-align: center;
}
body .menu-ledelice h3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 2.3rem;
  background: -webkit-linear-gradient(0deg, #0025df, #1e9dfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .page-ledelice {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: #F9F9F9;
  font-size: 0.8rem;
  padding: 1vh 8vw;
  margin: auto;
}
body .page-ledelice h4 {
  font-size: 0.9rem;
  font-weight: normal;
}
body .page-ledelice img[src*="ledelice1.png"] {
  position: relative;
  top: 3.8vh;
  width: 25vw;
}
body .page-ledelice img[src*="ledelice2.png"] {
  position: relative;
  bottom: 3.8vh;
  left: 53vw;
  width: 25vw;
}
body .page-ledelice img[src*="ledelice3.png"] {
  position: relative;
  top: 3.8vh;
  width: 25vw;
}
body .page-ledelice img[src*="ledelice4.png"] {
  position: relative;
  bottom: 3.8vh;
  left: 53vw;
  width: 25vw;
}
body .page-ledelice img[src*="ledelice5.png"] {
  position: relative;
  top: 3.8vh;
  width: 25vw;
}
body .page-ledelice img[src*="ledelice6.png"] {
  position: relative;
  bottom: 3.8vh;
  left: 53vw;
  width: 25vw;
}

/* --------------- media query -----------------
------------------------------------------------ */
body {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    width: 100%;
    margin: auto;
  }
  body .page-ledelice {
    font-size: 0.8rem;
  }
  body .page-ledelice h4 {
    font-size: 0.9rem;
    font-weight: normal;
  }
  body .menu-ledelice h3 {
    font-size: 3.5rem;
  }
  body .page-ledelice {
    width: 70%;
    margin: auto;
  }
  body .page-ledelice img[src*="ledelice1.png"] {
    top: 5vh;
    width: 23vw;
  }
  body .page-ledelice img[src*="ledelice2.png"] {
    bottom: 5vh;
    left: 46vw;
    width: 23vw;
  }
  body .page-ledelice img[src*="ledelice3.png"] {
    top: 5vh;
    width: 23vw;
  }
  body .page-ledelice img[src*="ledelice4.png"] {
    bottom: 5vh;
    left: 46vw;
    width: 23vw;
  }
  body .page-ledelice img[src*="ledelice5.png"] {
    top: 5vh;
    width: 23vw;
  }
  body .page-ledelice img[src*="ledelice6.png"] {
    bottom: 5vh;
    left: 46vw;
    width: 23vw;
  }
}
@media screen and (min-width: 1024px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  body .menu-ledelice h3 {
    font-size: 4rem;
  }
  body .page-ledelice {
    width: 70%;
    font-size: 1.2rem;
    margin: auto;
  }
  body .page-ledelice h4 {
    font-size: 1.4rem;
    font-weight: normal;
  }
  body .page-ledelice img[src*="ledelice1.png"] {
    top: 7vh;
    width: 20vw;
  }
  body .page-ledelice img[src*="ledelice2.png"] {
    bottom: 7vh;
    left: 35vw;
    width: 20vw;
  }
  body .page-ledelice img[src*="ledelice3.png"] {
    top: 7vh;
    width: 20vw;
  }
  body .page-ledelice img[src*="ledelice4.png"] {
    bottom: 7vh;
    left: 35vw;
    width: 20vw;
  }
  body .page-ledelice img[src*="ledelice5.png"] {
    top: 7vh;
    width: 20vw;
  }
  body .page-ledelice img[src*="ledelice6.png"] {
    bottom: 7vh;
    left: 35vw;
    width: 20vw;
  }
}

/*# sourceMappingURL=style.css.map */
