
/* ----      bouton prochainement        ------*/
//----------------------------------------------

.pro {
  font-family: 'Montserrat-Regular';
  text-transform: capitalize;
  width: 35%;
  background: $col--site;
  color: $ohmyfood;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid $col--site;
  padding: 0.5vh 0;
  margin: 5vh auto;

  &::after {
    position: absolute;
    content: ' ';
    opacity: 0;
  }
  &:hover {
    &::after {
      animation: bouton-prochainement 1.5s infinite;
    }
  }
}

/* ---- bouton  mention et contact ------*/
//----------------------------------------

footer a {
  background: $col--site;
  color: $ohmyfood;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  &::first-letter {
    text-transform: capitalize;
  }
  &:hover {
    animation: bouton-footer 400ms infinite;
  }
}
