
/* ------ animation menu page d'index -----*/
//-------------------------------------------

li:hover {
  .lanote,
  .lechic,
  .ledelice,
  .lapalette{
    transform: scale(1.15);
    opacity: 0.5;
    transition-duration: 600ms;
  }
}

// ----  animation trait soulignement menu   ---
//-----------------------------------------------

/* ---- trait soulignement menu la note ---*/

.souligne-lanote p {
  cursor: pointer;
  background: linear-gradient(to top, $fonte 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne-lanote p:hover  {
  background-size: 100% 100%;
}

/* ---- trait soulignement menu le chic ---*/

.souligne-lechic1 p {
  cursor: pointer;
  background: linear-gradient(to top, $lechic--appetit 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne-lechic1 p:hover  {
  background-size: 100% 100%;
}

.souligne-lechic2 p {
  cursor: pointer;
  background: linear-gradient(to top, $lechic--plaisir 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne-lechic2 p:hover  {
  background-size: 100% 100%;
}

.souligne-lechic3 p {
  cursor: pointer;
  background: linear-gradient(to top, $lechic--gourmandise 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne-lechic3 p:hover  {
  background-size: 100% 100%;
}

/* ---- trait soulignement menu le delice ---*/

.souligne1-ledelice p {
  cursor: pointer;
  background: linear-gradient(to top, $deg1--ledelice 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne1-ledelice p:hover  {
  background-size: 100% 100%;
}

.souligne2-ledelice p {
  cursor: pointer;
  background: linear-gradient(to top, $deg2--ledelice 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne2-ledelice p:hover  {
  background-size: 100% 100%;
}

.souligne3-ledelice p {
  cursor: pointer;
  background: linear-gradient(to top, $deg3--ledelice 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne3-ledelice p:hover  {
  background-size: 100% 100%;
}

/* ---- trait soulignement menu la palette ---*/

.souligne-lapalette p {
  cursor: pointer;
  background: linear-gradient(to top, $deg1--lapalette 10%, transparent 10%) no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

.souligne-lapalette p:hover  {
  background-size: 100% 100%;
}

/* --- boutons prochainement   ---*/
// ---------------------------------

@keyframes bouton-prochainement {

  0% {
    opacity: 1;
    content: '';
  }
  60% {
    opacity: 1;
    content: ' .';
  }
  80% {
    opacity: 1;
    content: ' ..';
  }
  90%
  {opacity: 1;
    content: ' ..';
  }
  100% {
    opacity: 1;
    content: ' ...';
  }
}

/* -- boutons mention et contact  --*/
//----------------------------------

@keyframes bouton-footer {
  
  0% {
    transform: translate( 2px , 2px );
  }
  20% {
    transform: translate( -2px , -2px );
  }
  40% {
    transform: translate( 2px , 2px );
  }
  60% {
    transform: translate( -2px , -2px );
  }
  80% {
    transform: translate( 2px , 2px );
  }
  100% {
    transform: translate( -2px , -2px );
  }
}

