* {
  margin: 0;
}

//  ---------------------------------

h1 {
  font-family: 'Montserrat-Bold';
  font-size: 1.3rem;
  padding: 2vh 0;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: solid $contour;
  border-bottom: solid $contour;
}

.table {
  table-layout: fixed;
  width: 80%;
  vertical-align: middle;
  text-align: left;
}

/* ----    Table du menu La note         ----- */
//----------------------------------------------

.titre-lanote {

  table-layout: fixed;
  margin: 0 12vw;
  img{
    width: 22vw;
  }

  p {
    font-size: 0.8rem;
  }

  @include titre-table;
}

.table-lanote {
  margin: 0 12vw;
  font-size: 0.6rem;
  p{
    margin: 0.8vh 0;
  }
  @include table;
}

/* -----Table du menu Le chic        --- */
// ---------------------------------------

.titre-appetit,
.appetit {
  color: $lechic--appetit;
}

.titre-plaisir,
.plaisir {
  color: $lechic--plaisir;
}

.titre-gourmandise,
.gourmandise {
  color: $lechic--gourmandise;
}

.titre-appetit,
.titre-plaisir,
.titre-gourmandise {
  table-layout: fixed;
  margin: 0 5vw;
  img{
    width: 22vw;
  }
  p {
    font-size: 0.6rem;
    margin: 2vh 0;
  }
  @include titre-table;
}

.appetit,
.plaisir,
.gourmandise {
  margin: 0 11vw;
  font-size: 0.55rem;
  p {
    margin: 0.8vh 0;
  }
  @include table;
}

/* ---     Table du menu Le délice         ---*/
// ---------------------------------------------

.titre-ledelice{
  table-layout: fixed;
  margin: 0 3vw;
  img{
    width: 28vw;
  }
  p {
    font-size: 1.1rem;
  }
  @include titre-table;
}

.table-ledelice {
  margin: 0 9vw;
  font-size: 0.9rem;
  @include table;
}


/* -Table du menu  la palette         ---*/
// ----------------------------------------

.titre-lapalette {
  table-layout: fixed;
  margin: 0 7vw;
  img{
    width: 25vw;
  }
  p {
    font-size: 0.8rem;
    margin: 2vh 0;
  }
  @include titre-table;
}

.table-lapalette {
  margin: 0 11vw;
  font-size: 0.7rem;
  p {
    margin: 0.5vh 0;
  }
  @include table;
}
