  * {
  margin: 0;
}

/* ----    Table du menu La note         -----
-----------------------------------------------*/

.titre-prelude,
.titre-point,
.titre-mouvement{

  table-layout: fixed;
  margin: 0 7vw;
  img{
    width: 22vw;
  }
  p{
    font-size: 0.8rem;
  }
  th:nth-child(1) {
    width:15%;
  }
  th:nth-child(2) {
    width: 50%;
  }
  th:nth-child(3) {
    width:15%;
  }
}

  .prelude,
  .point,
  .mouvement{
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 8vw;
    font-size: 0.6rem;
    p{
      margin: 0.8vh 0;
    }
    th:nth-child(1) {
      width: 80%;
    }
    th:nth-child(2) {
      width: 5%;
    }
  }

/* -Table du menu Le chic        ---
-----------------------------------------------*/

  .titre-appetit,
  .appetit{
    color: $lechic--appetit;
  }
  .titre-plaisir,
  .plaisir{
    color: $lechic--plaisir;
  }
  .titre-gourmandise,
  .gourmandise{
    color: $lechic--gourmandise;
  }

.titre-appetit,
.titre-plaisir,
.titre-gourmandise {

  table-layout: fixed;
  margin: 0 7vw;
  img{
    width: 22vw;
  }
  p{
    font-size: 0.5rem;
    margin: 2vh 0;
  }
  th:nth-child(1) {
      width:15%;
    }
  th:nth-child(2) {
      width: 50%;
    }
  th:nth-child(3) {
      width:15%;
    }
  }

  .appetit,
  .plaisir,
  .gourmandise {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 11vw;
    font-size: 0.45rem;
    p{
      margin: 0.8vh 0;
    }

    th:nth-child(1) {
      width: 100%;
    }
   th:nth-child(2) {
      width: 15%;
    }
  }


/* ---     Table du menu Le délice         ---
-----------------------------------------------*/

.titre-commencer,
.titre-continuer,
.titre-terminer{

  table-layout: fixed;
  margin: 0 6vw;
  img{
    width: 25vw;
  }
  p{
    font-size: 0.85rem;
  }
  th:nth-child(1) {
    width:15%;
  }
  th:nth-child(2) {
    width: 50%;
  }
  th:nth-child(3) {
    width:15%;
  }
}

  .commencer,
  .continuer,
  .terminer {
    table-layout: fixed;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    margin: 0 11vw;
    font-size: 0.75rem;

    th:nth-child(1) {
      width: 100%;
    }
    th:nth-child(2) {
      width: 15%;
    }
  }


/* -Table du menu  la palette         ---
-----------------------------------------------*/

.titre-esquisse,
.titre-oeuvre,
.titre-sommet {

  table-layout: fixed;
  margin: 0 7vw;
  img{
    width: 25vw;
  }
  p{
    font-size: 0.7rem;
    margin: 2vh 0;
  }
  th:nth-child(1) {
    width:15%;
  }
  th:nth-child(2) {
    width: 50%;
  }
  th:nth-child(3) {
    width:15%;
  }
}

.esquisse,
.oeuvre,
.sommet {
  table-layout: fixed;
  width: 80%;
  vertical-align: middle;
  text-align: left;
  margin: 0 11vw;
  font-size: 0.6rem;
  p{
    margin: 0.5vh 0;
  }

    th:nth-child(1) {
      width: 100%;
    }
    th:nth-child(2) {
      width: 15%;
    }
  }
