

/* -------------       h1         ---------------
-----------------------------------------------------*/
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../public/font/Montserrat-Regular.ttf') format('truetype'),
  url('../../public/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------Menu la note enchantée ---------------
-----------------------------------------------------*/

@font-face {
  font-family: 'Devonshire-Regular';
  src: url('../../public/font/Devonshire-Regular.ttf') format('truetype'),
  url('../../public/font/Devonshire-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Itim-Regular';
  src: url('../../public/font/Itim-Regular.ttf') format('truetype'),
  url('../../public/font/Itim-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------Menu  Le chic à la française----------
-----------------------------------------------------*/
@font-face {
  font-family: 'CroissantOne-Regular';
  src: url('../../public/font/CroissantOne-Regular.ttf') format('truetype'),
  url('../../public/font/CroissantOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DMSerifText-Regular';
  src: url('../../public/font/DMSerifText-Regular.ttf') format('truetype'),
  url('../../public/font/DMSerifText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------Menu le délice des papilles ----------
-----------------------------------------------------*/
@font-face {
  font-family: 'DancingScript-VariableFont_wght';
  src: url('../../public/font/DancingScript-VariableFont_wght.ttf') format('truetype'),
  url('../../public/font/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Caveat-Regular';
  src: url('../../public/font/Caveat-Regular.ttf') format('truetype'),
  url('../../public/font/Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------Menu la palette du goût ----------
-----------------------------------------------------*/
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('../../public/font/KaushanScript-Regular.ttf') format('truetype'),
  url('../../public/font/KaushanScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DMSerifText-Regular';
  src: url('../../public/font/NanumPenScript-Regular.ttf') format('truetype'),
  url('../../public/font/NanumPenScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}