
@font-face {
  font-family: 'DancingScript-Regular';
  src: url('../../public/img/DancingScript-Regular.otf') format('opentype'),
  url('../../public/img/DancingScript-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'texgyreheros-regular';
  src: url('../../public/img/texgyreheros-regular.otf') format('opentype'),
  url('../../public/img/texgyreheros-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}