

.menu-ohmyfood {
  background: $blanc;
  width: 100%;
  margin: auto;
  ul {
    display: flex;
    flex-direction:column;
    align-items: center;

    li {
        font-size: 1.2rem;
        margin: 3vh auto;
        width: 30vw;
        height: 20vh;
        padding: 22vh 5vw;
        list-style-type: none;
        text-align: center;
        border-radius: 0.5rem;
        border: solid $contour;
    }
  }
}

/*  ----- barre de recherche ---------
---------------------------------------*/
aside{
  background: $recherche;
  margin: auto;
  padding: 2vh 0 2vh 5vw;
  input{
    width: 90%;
  }
}

/* ---Titre et background des cartes  ---
----------------------------------------*/

.menu-ohmyfood li[class*='li-lanote'] {
  section i{
    font-size: 3rem;
    background: -webkit-linear-gradient(0deg , #f60d0d, #f9aa5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    & a{
      font-family: 'Devonshire-Regular';
      font-size: 3rem;
    }
  }
  background-color: $lanote;
}

.menu-ohmyfood li[class*='li-lechic'] {
  section h2 {
    font-family: 'CroissantOne-Regular';
    font-size: 1.5rem;
    background: -webkit-linear-gradient(0deg , #c7750c, #6e4bce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  background-color: $lechic;
}

.menu-ohmyfood li[class*='li-ledelice'] {
  section h2 {
    font-family: 'DancingScript-VariableFont_wght';
    font-size: 1.5rem;
    background: -webkit-linear-gradient(0deg , #0025df, #1e9dfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  background-color: $ledelice;
}

.menu-ohmyfood li[class*='li-lapalette'] {
  section h2 {
    font-family: 'KaushanScript-Regular';
    font-size: 1.5rem;
    background: -webkit-linear-gradient(0deg , #3f9338, #c0ff7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  background-color: $lapalette;
}


/* -----            media query             ----
---------------------------------------------- */

body {
  margin: 0 auto;
  main{
    text-align: center;
  }

  @include media-min(768px) {

    margin: 0 auto;

      .menu-ohmyfood ul{
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
          li {
            width: 23vw;
            height: 21vh;
            padding: 22vh 5vw;
            margin: 2vh 2vw;
          }
      }
  }
  @include media-min(1024px) {

      margin: 0 auto;

      .menu-ohmyfood ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        li {
          width: 16vw;
          height: 25vh;
          padding: 22vh 5vw;
          margin: 2vh 3vw;
      }
    }
  }
}