
body{
  font-family: 'Itim-Regular';
  background: $blanc;
  width: 100%;
  text-align: center;

  .menu-lanote h3 {
    font-family: 'Devonshire-Regular';
    font-size: 2.5rem;
    font-weight: normal;
  }

  .page-lanote {
    display: flex;
    flex-direction: column;
    background: $lanote;
    width: 80%;
    font-size: 1.2rem;
    padding: 1vh 8vw;
    margin: auto;

    h4 {
      font-size: 0.9rem;
      font-weight: normal;
    }

    img[src*='lanote1.png'] {
      position: relative;
      top: 2vh;
      width: 25vw;
    }
    img[src*='lanote2.png'] {
      position: relative;
      bottom: 2vh;
      left: 52vw;
      width: 25vw;
    }
  }
}


article i{
  font-size: 4rem;
  padding-top:5vh ;
  background: -webkit-linear-gradient(0deg , #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      }

span i{
  font-size: 1.5rem;
  padding:2vh 2vw 5vh 0;
  background: -webkit-linear-gradient(0deg , #f60d0d, #f9aa5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* --------------- media query -----------------
------------------------------------------------ */

body {
  width: 100%;
  margin: 0 auto;

  .menu-lanote h3 {
    font-size: 2.5rem;
    padding: 0 2vw 5vh 0;
  }

  .page-lanote h4 {
    font-size: 1.4rem;
    font-weight: normal;
  }

  @include media-min(768px) {
    width: 80%;
    margin: auto;

    .menu-lanote {
      .page {
        width: 70%;

        img[src*='lanote1.png'] {
          top: 6vh;
          width: 18vw;
        }

        img[src*='lanote2.png'] {
          bottom: 6vh;
          left: 50vw;
          width: 18vw;
        }
      }
    }
  }

  @include media-min(1024px) {
    width: 65%;

    .menu-lanote h3 {
      font-size: 4rem;
    }

    .menu-lanote {
      .page-lanote {
        font-size: 1.1rem;
        width: 60%;
        margin: auto;

        img[src*='lanote1.png'] {
          top: 3vh;
          width: 16vw;
        }

        img[src*='lanote2.png'] {
          bottom: 3vh;
          left: 31vw;
          width: 16vw;
        }
      }
    }
  }
}
