
body{
  width: 100%;
  text-align: center;
  background: $fond--page;

  .menu-lanote h3 {
    font-family: 'Devonshire-Regular';
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 3vh;
  }

  .page-lanote {
    display: flex;
    flex-direction: column;
    font-family: 'Itim-Regular';
    background: $lanote;
    width: 90%;
    font-style: italic;
    padding: 5vh 4vw;
    border: solid $contour;
    padding-bottom: 10vh ;
  }

  article i {
    font-size: 3rem;
    padding:5vh 2vw 3vh 0;
    background: -webkit-linear-gradient(0deg , #f60d0d, #f9aa5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span i{
    font-size: 1.2rem;
    padding:2vh 2vw 5vh 0;
    background: -webkit-linear-gradient(0deg , #f60d0d, #f9aa5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

span p{
  display: inline;
  font-family: 'Devonshire-Regular';
  font-size: 1rem;
  font-weight: bold;
}

/* --------------- media query -----------------
------------------------------------------------ */

body {
  width: 100%;
  margin: 0 auto;

  @include media-min(500px) {

    article i {
      font-size: 3rem;
    }
    span i{
      font-size: 1.2rem;
    }
    .menu-lanote h3 {
      font-size: 2rem;
      padding-top: 2vh;
      padding-bottom: 4vh;
    }

    .titre-prelude,
    .titre-point,
    .titre-mouvement{
      table-layout: fixed;
      padding: 0 1vw;
      img{
        width: 20vw;
      }
      p{
        font-size: 0.9rem;
      }
      th:nth-child(1) {
        width:15%;
      }
      th:nth-child(2) {
        width: 50%;
      }
      th:nth-child(3) {
        width:15%;
      }
    }

    .prelude,
    .point,
    .mouvement{
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 9vw;
      font-size: 0.7rem;
      p {
        padding: 1vh 0;
      }
      th:nth-child(1) {
        width: 80%;
      }
      th:nth-child(2) {
        width: 5%;
      }
    }
  }

  @include media-min(768px) {

    width: 80%;
    margin: auto;

    .menu-lanote h3 {
      font-size: 2rem;
      padding-top: 3vh;
      padding-bottom: 5vh;
    }
    .page-lanote {
      width: 70%;
      margin: auto;
      margin-bottom: 9vh;
      padding-top: 4vh;
      padding-bottom: 3vh;
    }

    .titre-prelude,
    .titre-point,
    .titre-mouvement{

      table-layout: fixed;
      padding: 0 0vw;
      img{
        width: 13vw;
      }
      p{
        font-size: 0.8rem;
      }
      th:nth-child(1) {
        width:15%;
      }
      th:nth-child(2) {
        width: 50%;
      }
      th:nth-child(3) {
        width:15%;
      }
    }

    .prelude,
    .point,
    .mouvement{
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 5vw;
      font-size: 0.7rem;
      p {
        padding: 1vh 0;
      }


      th:nth-child(1) {
        width: 80%;
      }
      th:nth-child(2) {
        width: 5%;
      }
    }
  }

  @include media-min(1024px) {

    width: 70%;

    .menu-lanote h3 {
      font-size: 3rem;
      padding-top: 3vh;
      padding-bottom: 8vh;
    }
    .page-lanote {
      width: 70%;
      margin: auto;
      margin-bottom: 10vh;
      padding-bottom: 20vh;
    }

    .titre-prelude,
    .titre-point,
    .titre-mouvement{

      table-layout: fixed;
      img{
        width: 13vw;
      }
      p{
        font-size: 0.9rem;
      }
      th:nth-child(1) {
        width:15%;
      }
      th:nth-child(2) {
        width: 50%;
      }
      th:nth-child(3) {
        width:15%;
      }
    }

    .prelude,
    .point,
    .mouvement{
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 6vw;
      font-size: 0.7rem;
      p {
        padding: 2vh 0;
      }

      th:nth-child(1) {
        width: 80%;
      }
      th:nth-child(2) {
        width: 5%;
      }
    }
  }
}
