
.menu-lapalette {
  background: $blanc;
  width: 100%;
  text-align: center;

  .page {
    background: $lapalette;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 1vh 8vw;
    margin: auto;
    flex-direction: column;

    img[src*='lapalette1.png'] {
      /*display: inline;
      position: relative;*/
      top: 5.5vh;
      width: 25vw;
    }
    img[src*='lapalette2.png'] {
      position: relative;
      bottom: 5.5vh;
      left: 60vw;
      width: 25vw;
    }
  }
}


.menu-lapalette h3 {
  font-family: 'KaushanScript-Regular';
  font-size: 2.5rem;
  padding:2vh 2vw 5vh 0;
  background: -webkit-linear-gradient(0deg , #3f9338, #c0ff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-family: 'Montserrat-Regular';
  font-size: 1.5rem;
}

/* --------------- media query -----------------
------------------------------------------------ */


body {
  width: 100%;
  margin: 0 auto;

  @include media-min(768px) {
    width: 80%;
    margin: auto;
    .menu-lapalette {
      .page {
        width: 70%;
        /*margin: 5vh 5vw 10vh 5vh ;*/
        margin: auto;

        img[src*='lapalette1.png'] {
          top: 6vh;
          width: 18vw;
        }
        img[src*='lapalette2.png'] {
          bottom: 6vh;
          left: 45vw;
          width: 18vw;
        }

      }
    }
  }

  @include media-min(1024px) {
    width: 65%;
    margin: 0 auto;
  }
}