
body {
  background: $blanc;
  width: 90%;
  text-align: center;

  .page-lapalette {
    display: flex;
    flex-direction: column;
    background: $lapalette;
    width: 80%;
    padding: 1vh 8vw;
    margin: auto;

    h4 {
      font-size: 0.9rem;
      font-weight: normal;
    }

    img[src*='lapalette1.png'] {
      position: relative;
      top: 2vh;
      width: 27vw;
    }
    img[src*='lapalette2.png'] {
      position: relative;
      bottom: 2vh;
      left: 51vw;
      width: 27vw;
    }
  }
}

/* --------------- media query -----------------
------------------------------------------------ */

body {
  width: 100%;
  margin: 0 auto;

  @include media-min(768px) {
    width: 80%;
    margin: auto;

    .page-lapalette {
      width: 70%;
      margin: auto;

      img[src*='lapalette1.png'] {
        top: 2vh;
        width: 22vw;
      }
      img[src*='lapalette2.png'] {
        bottom: 2vh;
        left: 46vw;
        width: 22vw;
      }
    }
  }


  @include media-min(1024px) {
    width: 80%;
    margin: 0 auto;

    .page-lapalette {
      width: 80%;
      margin: auto;
      h4 {
        font-size: 1.5rem;
      }
      img[src*='lapalette1.png'] {
        top: 3vh;
        width: 20vw;
      }
      img[src*='lapalette2.png'] {
        bottom: 3vh;
        left: 43vw;
        width: 20vw;
      }
    }
  }
}