
body {
  width: 100%;
  text-align: center;
  background: $fond--page;

  .menu-lapalette h3 {
    font-family: 'KaushanScript-Regular';
    background: -webkit-linear-gradient(0deg, $deg1--lapalette, $deg2--lapalette);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    padding: 0 0 5vh 0;
  }

  .page-lapalette {
    display: flex;
    flex-direction: column;
    font-family: 'KaushanScript-Regular';
    background: $lapalette;
    width: 90%;
    padding: 4vh 4vw;
  }
}
/* --------------- media query -----------------
------------------------------------------------ */

body {
  width: 100%;
  margin: 0 auto;

  @include media-min(500px) {

    .menu-lapalette h3 {
      font-size: 2rem;
    }

    .titre-esquisse,
    .titre-oeuvre,
    .titre-sommet {

      table-layout: fixed;
      margin: 0 7vw;
      img{
        width: 26vw;
      }
      p{
        font-size: 0.7rem;
      }
      th:nth-child(1) {
        width:15%;
      }
      th:nth-child(2) {
        width: 50%;
      }
      th:nth-child(3) {
        width:15%;
      }
    }

    .esquisse,
    .oeuvre,
    .sommet {
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 11vw;
      font-size: 0.6rem;

      th:nth-child(1) {
        width: 100%;
      }
      th:nth-child(2) {
        width: 15%;
      }
    }
  }

  @include media-min(768px) {
    width: 80%;
    margin: auto;

    .menu-lapalette h3 {
      font-size: 2.3rem;
    }
    .page-lapalette {
      width: 70%;
      margin: auto;
      margin-bottom: 9vh;
    }
    .titre-esquisse,
    .titre-oeuvre,
    .titre-sommet {

      table-layout: fixed;
      margin: 0 3vw;
      img{
        width: 15vw;
      }
      p{
        font-size: 1rem;
      }
      th:nth-child(1) {
        width:15%;
      }
      th:nth-child(2) {
        width: 50%;
      }
      th:nth-child(3) {
        width:15%;
      }
    }

    .esquisse,
    .oeuvre,
    .sommet {
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 7vw;
      font-size: 0.7rem;

      th:nth-child(1) {
        width: 100%;
      }
      th:nth-child(2) {
        width: 15%;
      }
    }
  }


  @include media-min(1024px) {
    width: 80%;
    margin: 0 auto;

      .menu-lapalette h3 {
        font-size: 3rem;
      }
    .page-lanote {
      width: 70%;
      margin: auto;
      margin-bottom: 10vh;
    }

    .titre-esquisse,
    .titre-oeuvre,
    .titre-sommet {

      table-layout: fixed;
      margin: 0 3vw;
      img{
        width: 16vw;
      }
      p{
        font-size: 1rem;
      }
      th:nth-child(1) {
        width:15%;
      }
      th:nth-child(2) {
        width: 50%;
      }
      th:nth-child(3) {
        width:15%;
      }
    }

    .esquisse,
    .oeuvre,
    .sommet {
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 7vw;
      font-size: 0.8rem;

      th:nth-child(1) {
        width: 100%;
      }
      th:nth-child(2) {
        width: 15%;
      }
    }
  }
}