
body {
  font-family: 'DMSerifText-Regular';
  background: $blanc;
  width: 90%;
  text-align: center;
  margin: auto;

  .page-lechic {
    background: $lechic;
    width: 80%;
    text-align: center;
    display: flex;
    padding: 1vh 8vw;
    margin: auto;
    flex-direction: column;

    table[class*='prelude'] {
      color: #c7750c;
    }
    table[class*='plaisir'] {
      color: #a6679a;
    }
    table[class*='gourmandise'] {
      color: #6d4acc;
    }

    img[src*='lechic1.png'] {
      position: relative;
      top: 2vh;
      width: 25vw;
    }
    img[src*='lechic2.png'] {
      position: relative;
      bottom: 2vh;
      left: 52vw;
      width: 25vw;
    }

    img[src*='lechic3.png'] {
      position: relative;
      top: 2vh;
      width: 22vw;
    }
    img[src*='lechic4.png'] {
      position: relative;
      bottom: 2vh;
      left: 58vw;
      width: 22vw;
    }

    img[src*='lechic5.png'] {
      position: relative;
      top: 2vh;
      width: 22vw;
    }
    img[src*='lechic6.png'] {
      position: relative;
      bottom: 2vh;
      left: 58vw;
      width: 22vw;
    }
  }
}
article {
  font-size: 0.6rem;
}

.menu-lechic h3 {
  font-family: 'CroissantOne-Regular';
  font-size: 1.5rem;
  background: -webkit-linear-gradient(290deg , #e48a0a, #8e5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-family: 'Montserrat-Regular';
  font-size: 1.5rem;
}


/* --------------- media query -----------------
------------------------------------------------ */


body {
  width: 100%;
  margin: 0 auto;

  @include media-min(768px) {
    width: 80%;
    margin: auto;

    article {
      font-size: 1rem;
    }
    .menu-lechic h3 {
      font-family: 'CroissantOne-Regular';
      font-size: 2.3rem;
      background: -webkit-linear-gradient(290deg , #e48a0a, #8e5aff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .menu-lechic {
      .page-lechic {
        width: 70%;
        margin: auto;

        img[src*='lechic1.png'] {
          top: 3vh;
          width: 22vw;
        }
        img[src*='lechic2.png'] {
          bottom: 3vh;
          left: 47vw;
          width: 18vw;
        }
        img[src*='lechic3.png'] {
          top: 3vh;
          width: 22vw;
        }
        img[src*='lechic4.png'] {
          bottom: 3vh;
          left: 47vw;
          width: 18vw;
        }
        img[src*='lechic5.png'] {
          top: 3vh;
          width: 22vw;
        }
        img[src*='lechic6.png'] {
          bottom: 3vh;
          left: 47vw;
          width: 18vw;
        }
      }
    }
  }

  @include media-min(1024px) {
    width: 65%;
    margin: 0 auto;

    article {
      font-size: 1.2rem;
    }

    .menu-lechic h3 {
      font-family: 'CroissantOne-Regular';
      font-size: 3rem;
      background: -webkit-linear-gradient(290deg , #e48a0a, #8e5aff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .menu-lechic {
      .page-lechic {
        width: 70%;
        margin: auto;

        img[src*='lechic1.png'] {
          top: 3vh;
          width: 18vw;
        }
        img[src*='lechic2.png'] {
          bottom: 3vh;
          left: 37vw;
          width: 18vw;
        }
        img[src*='lechic3.png'] {
          top: 3vh;
          width: 18vw;
        }
        img[src*='lechic4.png'] {
          bottom: 3vh;
          left: 37vw;
          width: 18vw;
        }
        img[src*='lechic5.png'] {
          top: 3vh;
          width: 18vw;
        }
        img[src*='lechic6.png'] {
          bottom: 3vh;
          left: 37vw;
          width: 18vw;
        }
      }
    }
  }
}