
body {
  font-family: 'Caveat-Regular';
  background: $blanc;
  width: 90%;
  text-align: center;

  .menu-ledelice h3 {
    font-family: 'DancingScript-VariableFont_wght';
    font-size: 2.3rem;
    background: -webkit-linear-gradient(0deg , #0025df, #1e9dfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .page-ledelice {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: $ledelice;
    font-size: 0.8rem;
    padding: 1vh 8vw;
    margin: auto;

    h4 {
      font-size: 0.9rem;
      font-weight: normal;
    }

    img[src*='ledelice1.png'] {
      position: relative;
      top: 3.8vh;
      width: 25vw;
    }
    img[src*='ledelice2.png'] {
      position: relative;
      bottom: 3.8vh;
      left: 53vw;
      width: 25vw;
    }
    img[src*='ledelice3.png'] {
      position: relative;
      top: 3.8vh;
      width: 25vw;
    }
    img[src*='ledelice4.png'] {
      position: relative;
      bottom: 3.8vh;
      left: 53vw;
      width: 25vw;
    }
    img[src*='ledelice5.png'] {
      position: relative;
      top: 3.8vh;
      width: 25vw;
    }
    img[src*='ledelice6.png'] {
      position: relative;
      bottom:3.8vh;
      left: 53vw;
      width: 25vw;
    }
  }
}


/* --------------- media query -----------------
------------------------------------------------ */

body {
  width: 100%;
  margin: 0 auto;

  @include media-min(768px) {
    width: 100%;
    margin: auto;

    .page-ledelice {
      font-size: 0.8rem;
      h4 {
        font-size: 0.9rem;
        font-weight: normal;
      }
    }

    .menu-ledelice h3 {
      font-size: 3.5rem;
    }

    .page-ledelice {
      width: 70%;
      margin: auto;

      img[src*='ledelice1.png'] {
        top: 5vh;
        width: 23vw;
      }
      img[src*='ledelice2.png'] {
        bottom: 5vh;
        left: 46vw;
        width: 23vw;
      }
      img[src*='ledelice3.png'] {
        top: 5vh;
        width: 23vw;
      }
      img[src*='ledelice4.png'] {
        bottom: 5vh;
        left: 46vw;
        width: 23vw;
      }
      img[src*='ledelice5.png'] {
        top: 5vh;
        width: 23vw;
      }
      img[src*='ledelice6.png'] {
        bottom: 5vh;
        left: 46vw;
        width: 23vw;
      }
    }
  }


  @include media-min(1024px) {
    width: 80%;
    margin: 0 auto;

    .menu-ledelice h3 {
      font-size: 4rem;
    }

    .page-ledelice {
      width: 70%;
      font-size: 1.2rem;
      margin: auto;

      h4 {
        font-size: 1.4rem;
        font-weight: normal;
      }

      img[src*='ledelice1.png'] {
        top: 7vh;
        width: 20vw;
      }
      img[src*='ledelice2.png'] {
        bottom: 7vh;
        left: 35vw;
        width: 20vw;
      }
      img[src*='ledelice3.png'] {
        top: 7vh;
        width: 20vw;
      }
      img[src*='ledelice4.png'] {
        bottom: 7vh;
        left: 35vw;
        width: 20vw;
      }
      img[src*='ledelice5.png'] {
        top: 7vh;
        width: 20vw;
      }
      img[src*='ledelice6.png'] {
        bottom: 7vh;
        left: 35vw;
        width: 20vw;
      }
    }
  }
}