
  .menu-ledelice h3 {
    font-family: 'DancingScript-VariableFont_wght';
    font-size: 1.9rem;
    background: -webkit-linear-gradient(0deg , #0025df, #1e9dfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 4vh;
    padding-bottom: 3vh;
  }
  .page-ledelice {
    font-family: 'Caveat-Regular';
    background: $ledelice;
    margin: auto;
    padding-bottom: 7vh ;
  }



/* --------------- media query -----------------
------------------------------------------------ */

body {
  width: 100%;
  text-align: center;
  background: $fond--page;

  @include media-min(500px) {

    .menu-ledelice h3 {
      font-size: 2.3rem;
      padding-top: 6vh;
      padding-bottom: 4vh;
    }
    .titre-ledelice{

      table-layout: fixed;
      margin: 0.5vh 0 0.5vh 1vw;
      img{
        width: 31vw;
      }
      p{
        font-size: 1.3rem;
        padding: 1vh 0;
      }
    }

    .table-ledelice {
      table-layout: fixed;
      margin: 0.5vh 0 0.5vh 11vw;
      font-size: 0.9rem;
      p {
        padding: 1vh 0;
      }
    }
  }

  @include media-min(768px) {
    margin: auto;

    .menu-ledelice h3 {
      font-size: 2.5rem;
      padding-top: 7vh;
      padding-bottom: 5vh;
    }
    .page-ledelice {
      width: 70%;
      margin: auto;
      margin-bottom: 9vh;
      padding: 5vh 4vw;
      border: solid $contour;
    }
    .titre-ledelice{
      table-layout: fixed;
      margin: 1.5vh 0 1.5vh 1vw;
      img{
        width: 16vw;
      }
      p{
        font-size: 1.2rem;
      }
    }

    .table-ledelice {
      table-layout: fixed;
      width: 80%;
      vertical-align: middle;
      text-align: left;
      margin: 0 5vw;
      font-size: 0.9rem;
      p {
        padding: 1.5vh 0;
      }
    }
  }

  @include media-min(1024px) {

    .menu-ledelice h3 {
      font-size: 3rem;
      padding-top: 10vh;
      padding-bottom: 8vh;
    }
    .page-ledelice {
      width: 70%;
      margin: auto;
      margin-bottom: 10vh;
      padding-bottom: 20vh;
    }
    .titre-ledelice{
      table-layout: fixed;
      margin: 0 0vw;
      img{
        width: 23vw;
      }
      p{
        font-size: 1.9rem;
      }
    }

    .table-ledelice {
      table-layout: fixed;
      width: 85%;
      vertical-align: middle;
      text-align: left;
      margin: 0 5vw;
      font-size: 1.4rem;

    }
  }
}