
@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    &{ @content; }
  }
}
body {
  width: 100%;
  margin: 0 auto;


  @include media-min(768px) {
    width: 668px;

    .menu-ohmyfood {
      background: $blanc;
      width: 100%;
      margin: auto;
      ul {
        display: flex;
        flex-direction:row;
        align-items: center;
        li{
          width: 100%;
          /*  border-radius: 10%;*/
          padding: 0;
          margin: 2vh;
          /* border: solid $contour;*/
          list-style-type: none;
          text-align: center;
          img{
            border-radius: 0.5rem;
            border: solid $contour;
          }
        }
      }
    }
  }
  @include media-min(1024px) {
    width: 1024px;
  }
}
