/* -----       media query          ----
--------------------------------------- */

@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    &{ @content; }
  }
}

@mixin titre-table{
  th:nth-child(1) {
    width:15%;
  }
  th:nth-child(2) {
    width: 50%;
    font-weight: normal;
  }
  th:nth-child(3) {
    width:15%;
  }
}


@mixin table {
  th:first-child {
    width: 100%;
  }
  th:last-child {
    width: 15%;
  }
}