
// -----       media query          ----
// -------------------------------------

@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    &{ @content; }
  }
}

// -----       Tables          ---------
// -------------------------------------

@mixin titre-table{

  th:first-child {
    width:15%;
  }
  th:first-child +th {
    width: 50%;
  }
  th:last-child {
    width:15%;
  }
}

@mixin table {

  th:first-child {
    width: 100%;
  }
  th:last-child {
    width: 15%;
  }
}