
/* --------- variable couleur  ----------
---------------------------------------*/

$col--site : #64A082;
$blanc : #fff;
$fonte: #000;
$ohmyfood : #EED071;
$contour : #DCC;
$recherche: #EDEDED;

$lanote : #FDE0DC;
$ledelice: #F9F9F9;
$lapalette: #FDFFFD;
$lechic: #FFF5FE;
