
$vert : #64A082;
$blanc : #fff;
$ohmyfood : #EED071;
$contour : #BAA;

$lanote : #FDE0DC;
$ledelice: #F9F9F9;
$lapalette: #FDFFFD;
$lechic: #FFF5FE;

/* ----------------------*/

$cd-btn-start: rgba(1, 28, 55, 1);
$cd-btn-end: rgba(1, 28, 55, 0);
$ball-size: .5;